# --- Archivos de video (entrada y salida) ---
*.avi
*.mp4

# --- Modelos de YOLO ---
soccer/models/

# --- Carpeta runs generada por YOLO (detecciones, predicciones, etc.) ---
soccer/runs/

# --- Videos de entrada/salida ---
soccer/output_videos/
soccer/input_videos/

# --- Archivos de Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Archivos temporales de sistema ---
.DS_Store
*.swp
*.tmp
